name: Release-plz

permissions:
  pull-requests: write
  contents: write
  id-token: write # Required for trusted publishing

on:
  push:
    branches:
      - main

jobs:
  release-plz:
    name: Release-plz
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'Polymarket' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: '1.88'

      - name: Run release-plz
        uses: MarcoIeni/release-plz-action@5ab144c9d67d4346240190d0f95ed08668677928 # v0.5.121
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
